* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

/* BACKGROUND */
body {
background: rgb(250, 249, 249);
height: 100vh;
}

/* OVERLAY */
.overlay {
background: rgba(0,0,0,0.5);
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* TITLE */
.title {
color: rgb(32, 31, 31);
font-size: 32px;
margin-bottom: 20px;
}

/* SEARCH BAR */
.search-container {
display: flex;
gap: 10px;
background: rgba(255,255,255,0.95);
padding: 15px;
border-radius: 10px;
width: 85%;
max-width: 900px;
}

/* INPUTS */
.search-container input,
.search-container select {
padding: 12px;
border: 1px solid #ddd;
border-radius: 6px;
flex: 1;
font-size: 14px;
}

/* BUTTON */
.search-container button {
background: #f9b4b4;
color: white;
border: none;
padding: 12px 18px;
border-radius: 6px;
cursor: pointer;
font-size: 16px;
}

.search-container button:hover {
background: #fabac2;
}

/* RESPONSIVE */
@media (max-width: 768px) {
.search-container {
flex-direction: column;
}
}